body{
    font-family: "Montserrat", sans-serif;
    background-color: #222629;
}

.bg{
    background-image: url(../images/wood.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    scroll-behavior: unset;
    background-attachment: fixed;
}


/* code for .bground from https://projects.verou.me/css3patterns/#carbon */
.bground{
    background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
    background-attachment: fixed;
    min-height: 80vh;
}

#skiptomain{
    position: absolute;
    top: -100px;
    color: white;
}

#skiptomain:focus{
    top: 20px;
    left: 20px;
    border: 2px solid white;
    border-radius: 8px;
    background-color: rgb(0, 0, 0, 0.75);
    padding: 10px;
}

*:focus{
    border: 2px solid white;
    border-radius: 8px;
    padding: 10px;
    outline: none;
}

nav ul{
    display: flex;
    flex-flow: column wrap;
    justify-content: left;
    align-items: center;
    background-color: rgb(107, 110, 112, .5);
}

nav ul li{
    height: 60px;
    flex-basis: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #116466;
    width: 100%;
}

* a{
    text-decoration: none;
    color: #66FCF1;
}

nav ul li a{
    color: #66FCF1;
    text-transform: lowercase;
    font-family: "Orbitron", sans-serif;
}

.socials{
    position: fixed;
    z-index: 3;
    top: 0%;
    right: 0%;
    background-color: rgb(255, 255, 255, .5);
    padding: 5px;
    border-bottom-left-radius: 8px;
}

.socials img:hover{
    transform: scale(1.5);
}

.currentpage{
    border-bottom: 4px solid #66FCF1;
    padding: 10px;
}

.currentpage a{
    text-transform: uppercase;
    font-size: 20px;
    border: 2px solid #66FCF1;
    border-radius: 8px;
    padding: 10px;
}

h1{
    font-size: 24px;
    font-family: "Orbitron", sans-serif;
    padding: 10px;
    color: #66FCF1;
}

#resume{
    text-align: center;
}

/* about */
.aboutcontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.abouttxt{
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
    line-height: 1.5;
}

.abouttxt a{
    outline: 1px solid #66FCF1;
    padding: 3px;
}

.aboutimg{
    max-width: 90%;
    border: 1px solid #66FCF1;
}

/* home */
.hometxtbg{
    background-color: rgb(34, 38, 41, .75);
    border-radius: 8px;
    margin: 5px;
    padding: 10px;
}

.hometxt{
    color: white;
    line-height: 1.5;
}

img{
    animation-name: seal;
    animation-duration: 10s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}

/* pc animation */
@-webkit-keyframes seal{
    10%{
        border-color: blue;
    }
    20%{
        border-color: blueviolet;
    }
    30%{
        border-color: purple;
    }
    40%{
        border-color: maroon;
    }
    50%{
        border-color: orangered;
    }
    60%{
        border-color: orange;
    }
    70%{
        border-color: yellow;
    }
    80%{
        border-color: yellowgreen;
    }
    90%{
        border-color: green;
    }
    100%{
        border-color: #66FCF1;
    }
}

@keyframes seal{
    10%{
        border-color: blue;
    }
    20%{
        border-color: blueviolet;
    }
    30%{
        border-color: purple;
    }
    40%{
        border-color: maroon;
    }
    50%{
        border-color: orangered;
    }
    60%{
        border-color: orange;
    }
    70%{
        border-color: yellow;
    }
    80%{
        border-color: yellowgreen;
    }
    90%{
        border-color: green;
    }
    100%{
        border-color: #66FCF1;
    }
}

@media (prefers-reduced-motion) {
    #animaseal {
      animation-name: seal;
      animation: none;
    }

    .bg, .bground{
        scroll-behavior: auto;
    }
}

.sealcontainer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
}

.seals{
    width: 90%;
    border: 2px solid #66FCF1;
    margin-top: 5px;
    margin-bottom: 5px;
}


/* whats this */
#what{
    text-align: center;
}

.whatthis{
    margin-left: 10px;
}

.whatcontainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    padding-bottom: 10px
}

#item1{
    grid-column: 1 / 3;
    margin: 10px;
}

#item2{
    grid-row: 2/3;
    grid-column: 1 / 3;
    margin: 10px;
}

#item3{
    grid-row: 3 / 4;
    grid-column: 1 / 3;
    margin: 10px;
}


#item4{
    grid-column: 1 / 3;
    margin: 10px;
}

#item5{
    grid-column: 1 / 3;
    margin: 10px;
}

.cardcontainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* flip card code from */
.flip-card {
  background-color: transparent;
  width: 200px;
  height: 200px;
  perspective: 500px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner{
  transform: rotateY(180deg);
}

.flip-card:focus-within .flip-card-inner{
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #116466;
  color: white;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  outline: #66FCF1 2px solid;
}

#flipseal{
    width: 200px;
    height: 200px;
}

.whattxt{
    color: white;
}

/* resume */
.resumehead{
    color: white;
    font-size: 18px;
    text-align: center;
    padding: 10px;
    background-color: #116466;
    border-radius: 8px;
    margin: 5px;
}

.resumehead:hover{
    cursor: pointer;
}

/*timeline here*/
/*original code from w3schools.com*/
*{
    box-sizing: border-box;
}

.timeline{
    position: relative;
    margin: 0 5px;
    border: 2px solid #6B6e70;
    border-radius: 8px;
    background-color: rgb(34, 38, 41, .75);
    margin-bottom: 5px;
}

.timeline:last-of-type{
    margin-bottom: 10px;
}

.timeline::after{
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    border-radius: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.container{
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
    line-height: 1.5;
    border-radius: 8px;
}

.container::after{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #116466;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.left{
    left: 0;
}

.right{
    left: 50%;
}

.left::before{
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

.right::before{
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

.right::after{
    left: -16px;
}

.content{
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

.content h2{
    color: #116466;
}

ul{
    list-style: none;
}

.bpoint::before{
    display: inline-block;
    content: '';
    border: 2px solid #116466;
    background-color: #116466;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

/* gallery */
#gallerycontainer img{
    width: 95%;
    border: 2px solid #66FCF1;
    transition-property: opacity;
    transition-duration: .5s;
}

#dogs{
    line-height: 1.5;
    padding: 10px;
    background-color: #6B6e70;
    border-radius: 8px;
    margin: 5px;
    color: white;
}

/* mobile grid */
#gallerycontainer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 0px;
    text-align: center;
    margin: 5px;
}

.penny, .torb{
    color: white;
    background-color: rgb(107, 110, 112, .65);
    grid-column: 1 / -1;
    padding: 10px;
    border: 2px solid #116466;
    border-radius: 8px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    font-family: "Orbitron", sans-serif;
    font-size: 20px;
}

#gallerycontainer figure{
    padding-bottom: 20px;
}

#gallerycontainer figure figcaption{
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-size: 20px;
}

#gallerycontainer figure:nth-child(odd) figcaption{
    padding-left: 10px;
    text-align: left;
    color: white;
}

#gallerycontainer figure:nth-child(even) figcaption{
    text-align: right;
    padding-right: 10px;
    color: white;
}

/* contact me */
.contacthead{
    text-align: center;
}

.formcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 10px;
    color: white;
    min-height: 400px;
}

form{
    background-color: rgb(255, 255, 255, .5);
    border-radius: 8px;
    width: 80%;
}

/* fieldset{
} */

legend{
    padding: 10px;
    font-size: 20px;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid white;
    background-color: rgb(107, 110, 112, .75);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    cursor: default;
}

label{
    display: inline-block;
    padding: 10px;
}

input{
    display: inline-block;
    /* width: 300px; */
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    border-top: 2px solid #116466;
    border-left: 2px solid #116466;
    border-bottom: 2px solid #bbb;
    border-right: 2px solid #bbb;
}

input:focus{
    border: 3px solid #116466;
    outline: none;
}

input[type=text]{
    cursor: text;
}

input[type=email]{
    cursor: text;
}

#query{
    display: inline-block;
    width: 90%;
    height: 30vh;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    font-family: "Montserrat", sans-serif;
    border-top: 2px solid #116466;
    border-left: 2px solid #116466;
    border-bottom: 2px solid #bbb;
    border-right: 2px solid #bbb;
}

#query:focus{
    border: 3px solid #116466;
    outline: none;
}

.containf{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#submit{
    background-color: #116466;
    color: white;
    font-size: 18px;
    width: 90%;
    border: 1px solid white;
}

#submit:hover{
    border: 3px solid white;
    cursor: pointer;
}

#totop{
    border: 2px solid #66FCF1;
    border-radius: 8px;
    background-color: rgb(116, 114, 116, .75);
    position: fixed;
    bottom: 20vh;
    left: 30px;
    padding: 10px;
    font-size: 20px;
    z-index: 1;
}

#totop a:active{
    border: none;
}

footer{
    background-color: rgb(107, 110, 112, .5);
    min-height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid white;
    padding-left: 10px;
    color: white;
    font-size: 20px;
}

footer ul{
    list-style-type: none;
    line-height: 4;
}

footer ul li{
    text-align: center;
}

footer p{
    color: white;
}

.fcurrentpage{
    border: 2px solid #66FCF1;
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
}

/*timeline mobile*/
@media screen and (max-width: 600px){
    .resumehead{
        text-align: left;
    }

    .timeline::after{
        left: 31px;
    }

    .container{
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    .container::before{
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    .left::after, .right::after {
        left: 15px;
    }

    .right {
        left: 0%;
    }
    /*Code for timeline from https://www.w3schools.com/howto/howto_css_timeline.asp and modified*/
}

/* tablet view*/
@media screen and (min-width: 600px){
    nav ul{
        flex-flow: row wrap;
    }

    nav ul li:hover{
        border: 2px solid white;
        border-radius: 8px;
    }

    .currentpage a{
        border: none;
        border-right: 1px solid #66FCF1;
        border-left: 1px solid #66FCF1;
    }

    /* home */
    .seals{
        max-width: 90%;
        filter: sepia(50%);
        transition-property: filter;
        transition-duration: .5s;
    }

    .seals:hover, .seals:focus{
        filter: none;
    }

    .sealcontainer{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 10px;
        align-items: center;
    }

    /* about */
    .aboutcontainer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto auto;
    }

    #me{
        grid-column: 1 / 3;
        justify-self: center;
    }

    #married{
        grid-column: 1 / 4;
        grid-row: 3 / 4;
        justify-self: center;
    }

    #painting{
        grid-column: 2 / 4;
        grid-row: 4 / 5;
        justify-self: center;
    }

    #hubby{
        grid-row: 2 / 3;
        grid-column: 1 / 4;
        margin: 10px;
    }

    #freetime{
        grid-column: 1 / 2;
    }

    .aboutimg{
        margin: 10px;
    }

    .abouttxt{
        background-color: rgb(107, 110, 112, .5);
        border-radius: 8px;
        padding: 10px;
    }

    /* gallery */
    #gallerycontainer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr 1fr 1fr auto 1fr 1fr 1fr;
        gap: 5px;
    }

    #gallerycontainer figure figcaption{
        min-height: 60px;
    }

    /* whats this */
    .whatcontainer{
        grid-template-rows: auto auto auto;
        grid-template-columns: auto;
    }

    #item1{
        grid-column: 1 / 4;
        grid-row: 1 / 2;
        margin: 10px;
    }

    #item2{
        grid-column: 1 / 4;
        grid-row: 2 / 3;
        margin: 10px;
    }

    #item3{
        grid-column: 1 / 3;
        grid-row: 3 / 5;
    }

    #item4{
        grid-column: 2 / 3;
        grid-row: 5 / 7;
    }

    #item5{
        grid-column: 2 / 4;
        grid-row: 7 / 9;
    }

    #totop{
        padding: 20px;
        bottom: 12vh;
    }

    footer ul li:hover{
        border: 2px solid white;
        border-radius: 8px;
        padding: 10px;
    }

    /* sticky headers */
/* https://www.w3schools.com/howto/howto_js_sticky_header.asp */
    .stuckboi{
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 2;
    }

    .page{
        padding-top: 60px;
    }

    .stuckboi01{
        position: fixed;
        top: 60px;
        width: 100%;
        z-index: 2;
    }

    .stuckboi02{
        position: fixed;
        top: 120px;
        width: 100%;
        z-index: 2;
    }

    .collapse{
        display: none;
        overflow: hidden;
    }
}

/* computer/laptop view*/
@media screen and (min-width: 1200px){
    /* home */
    .sealcontainer{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 10px;
        align-items: center;
    }

    #seal01{
        grid-column: 1 / 3;
        grid-row: 1 / 3;
    }

    #seal03{
        grid-row: 3 / 5;
        grid-column: 2 / 4;
    }

    /* about */
    .aboutcontainer{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
    }

    .abouttxt{
        background-color: rgb(107, 110, 112, .8);
        border-top: 2px solid white;
    }

    .aboutimg{
        max-height: 90vh;
    }

    #me{
        grid-column: 2 / 5 ;
        grid-row: 1 / 2;
    }

    #mynameis{
        grid-column: 3 / 6;
        grid-row: 1 / 2;
        position: relative;
        top: 30%;
    }

    #married{
        grid-column: 2 / 6;
        grid-row: 2 / 3;
    }

    #hubby{
        grid-column: 2 / 6;
        grid-row: 2 / 3;
        position: relative;
        left: -20%;
        top: 30%;
    }

    #painting{
        grid-column: 1 / 4;
        grid-row: 3 / 4;
    }

    #freetime{
        grid-column: 3 / 6;
        grid-row: 3 / 4;
        position: relative;
        left: 5%;
    }

    /* gallery */
    #gallerycontainer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto 1fr 1fr auto 1fr 1fr;
    }

    figure figcaption{
        background-color: #116466;
        border-radius: 8px;
        text-align: center;
    }

    #gallerycontainer img{
        transition-property: border-radius;
        border-radius: 40%;
    }

    #gallerycontainer img:hover{
        border-radius: 0;
        border-radius: 8px;
    }

    #gallerycontainer figure:nth-child(odd) figcaption{
        padding-left: 10px;
        text-align: center;
        color: white;
        border-bottom: 0;
        margin: 5px;
    }

    #gallerycontainer figure:nth-child(even) figcaption{
        text-align: center;
        padding-right: 10px;
        color: white;
        border-bottom: 0;
        margin: 5px;
    }

    /* sticky headers */
    /* https://www.w3schools.com/howto/howto_js_sticky_header.asp */
    /* .stuckboi{
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 2;
    }

    .page{
        padding-top: 60px;
    }

    .stuckboi01{
        position: fixed;
        top: 60px;
        width: 100%;
        z-index: 2;
    }

    .stuckboi02{
        position: fixed;
        top: 120px;
        width: 100%;
        z-index: 2;
    }

    .collapse{
        display: none;
        overflow: hidden;
    } */
}